#preloader{
  background: linear-gradient(#88CAFC, #d2ebff);
  height:100%;
  width:100%;
  position:fixed;
  top: 0;
  left: 0;
}

  #gif{
    display: block;
    margin: 0 auto;

  }

@font-face {
  font-family: HelloHeadlineW00Regular;
  src: url("FontsFree-Net-Hello-Headline-W00-Regular.ttf")
}

body{
  /*background-image:url("videos/frontdoor.png");
  background-size:cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background: linear-gradient(#88CAFC, #d2ebff);
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: HelloHeadlineW00Regular;
  color:#404066;
  /*color:red;*/
  text-align: center;
  font-size: 100px;
}

  .sidebar {
    /*height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(#88CAFC, #d2ebff);opacity:.95;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;*/
    overflow: hidden;
    text-align: center;
    margin-left: 50px;
  }

    .sidebar a {
      /*padding-bottom: 100px;
      padding-left: 50px;
      text-decoration: none;
      font-size: .375em;
      text-align: left;
      color: white;
      display: block;
      transition: 0.3s;*/
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: .375em;
    }

    .sidebar button {
      border:none;
      background-color:transparent;
      padding-bottom: 50px;
      padding-left: 5px;
      text-decoration: none;
      font-size: 1em;
      font-family:HelloHeadlineW00Regular;
      text-align: left;
      color: white;
      display: block;
      transition: 0.3s;
      width: 75%;
      height:10px;
    }

    .sidebar button:hover{
      color: #f8b9d4; 
    }

    .sidebar a:hover {
      color: #f8b9d4;
    }

    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      width: 10px;
      height: 0px;
      display:none;
    }

    #playroom{
      width:1260px; 
      height:569px;
    }
    .openbtn {
      font-size: 0.5em;
      background-color:transparent;
      color: white;
      padding: 10px 15px;
      border: none;
      margin-left: 1200px;
      margin-top: -850;
      display:none;
    }

    .openbtn:hover {
      color: #f8b9d4;
    }

    #main {
      transition: margin-left .5s;
      padding: 16px;
    }
    main a{
      text-decoration: none;
    }

    .overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #88CAFC;
      opacity: 0.99;
      z-index: 2;
      cursor: pointer;
    }

      #Menu h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }

      #Menu p{
        font-size: .35em;
      }

      #Menu ul{
        list-style-type: none;
        margin-top: -20px;
        text-align: center;
      }

      #Menu li{
        font-size: .5em;
        margin-top: 20px;
      }
      #sidegif-menu{
        display: none;
      }

      #Contact h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }

      #Contact ul{
        list-style-type: none;
        margin-top: -20px;
        text-align: center;
      }

      #Contact li{
        font-size: .5em;
        margin-top: 20px;
      }
      
      #Contact p{
        font-size: .45em;
        text-align: center;
        margin-left: 2%;
      }

      #sidegif-contact{
        display: none;
      }

      #Wishlist h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }

      #Wishlist ul{
        list-style-type: none;
        margin-top: -20px;
        text-align: center;
      }

      #Wishlist li{
        font-size: .7em;
        margin-top: 20px;
      }
      #Wishlist button{
        border:10px;
        color:#404066;
        background-color:transparent;
        text-decoration: none;
        font-size: 1em;
        font-family:HelloHeadlineW00Regular;
      }

      #Wishlist button:hover{
        color:#f8b9d4;
      }

      #sidegif-wishlist{
        display:none;
      }

      #Toys h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }

      #Toys ul{
        list-style-type: none;
        margin-top: -20px;
      }

      #Toys li{
        font-size: .5em;
        margin-top: 20px;
      }
      #Clothes h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }

      #Clothes ul{
        list-style-type: none;
        margin-top: -20px;
      }

      #Clothes li{
        font-size: .5em;
        margin-top: 20px;
      }

      #sidegif-Clothes{
        display: none;
      }

      #Favorite_shows h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }

      #Favorite_shows ul{
        list-style-type: none;
        margin-top: -20px;
      }

      #Favorite_shows li{
        font-size: .45em;
        margin-top: 20px;
      }

  header{
    margin-top:-65px;
  }
    #title{
      font-size: 2em;
      margin-top: -500px;
    }
    #sub{
      font-size: 1em;
      margin-top: -175px;
    }

  #party_info{
    font-size: .5em;
    margin-top: 10px;
  }
    #party_info p{
      margin-top: 100px;
    }
    #party_info sup{
      font-size: .5em;
    }

    #party_info a:link {
      color:#404066;
      text-decoration: none;
    }
    #party_info a:visited {
      color:#404066;
      text-decoration: none;
    }
    #party_info a:hover {
      color:#f8b9d4;
      text-decoration: none;
    }

  #rsvp{
    font-size: .5em;
    color:#404066 ;
    text-decoration: none;
    margin-top: -50px;
  }

  #rsvp:hover {
    color:#f8b9d4;
  }

@media screen and (max-width: 2560px) { /*4k Tv */
  .sidebar {
    margin-left: 100px;
  }

  #playroom{
    width:1800px; 
    height:630px;
  }
  }

@media screen and (max-width: 1950px) { /*Computer Monitors*/
  .sidebar {
    margin-left:50px;
  }
}

@media screen and (max-width: 1440px) { /*Large Laptops*/
  .sidebar {
    margin-left:50px;
  }

  #playroom{
    width:1260px; 
    height:569px;
  }
  
}

@media screen and (max-width: 1024px) { /*Laptops*/
  .sidebar {
    margin-left:50px;
  }

  #playroom{
    width:900px; 
    height:350px;
  }
  
  #title{
    font-size: 1.25em;
    margin-top: -350px;
    margin-left:10px;
  }
  
  #sub{
    text-align: center;
    width: 100%;
    font-size: .65em;
    margin-top: -75px;
    margin-left:1px;
  }
}

@media screen and (max-width: 900px) { /*Tablets*/
  body{
    background: linear-gradient(#88CAFC, #d2ebff);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
  }

  .sidebar {
    margin-left:50px;
  }

  #playroom{
    width:800px; 
    height:250px;
  }
  
  #title{
    font-size: .95em;
    margin-top: -250px;
    margin-left:-10px;
  }
  
  #sub{
    text-align: center;
    width: 100%;
    font-size: .45em;
    margin-top: -75px;
    margin-left:1px;
  }

  #party_info{
    font-size: .45em;
  
  }
    #map-font{
      font-size: .9em;
    }
  
  #rsvp{
    font-size: .45em;
    margin-top: 50px;
    display: block;
  }
}

@media screen and (max-width: 840px) { /*Tablets*/
  body{
    background: linear-gradient(#88CAFC, #d2ebff);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .sidebar {
    margin-left:20px;
  }

  #playroom{
    width:700px; 
    height:550;
  }
}

@media screen and (max-width: 430px) { /*IPhone 12 pro max */
#gif{
  width:55%;
  height:auto;
  padding-top: 50%;
  padding-bottom: 50%;
}

body{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-size: 72px;
  text-align: center;
}

.sidebar {
  font-size:.61em;
  margin-left:35px;
  width: 95%;
  height:50%;
  padding-left: 15px;
  margin-left: -5px;
}
.sidebar a {
  height:auto;
}
.sidebar button {
  margin-left: -10px;
  width:100%;
}

#playroom{
  width:385px; 
  height:150px;
  margin-left: -10px;
}

#title{
  font-size: 1em;
  margin-top: -175px;
}

#sub{
  font-size: .4em;
  margin-top: -50px;
  margin-left: -5px;
}

#party_info{
  font-size: .55em;

}
  #map-font{
    font-size: .85em;
  }

#rsvp{
  font-size: .7em;
}

/* #Menu h1{
    font-size: 1.25em;
    margin-top:10px;
    text-align: center;
  }

  #Menu p{
   
    width: 95%;
    text-align: center;
    font-size: .30em;
    margin-left: 2%;
  }

  #Menu ul{
    list-style-type: none;
    margin-top: -20px;
    text-align: center;
    width: 85%;
  }

  #Menu li{
    font-size: .5em;
    margin-top: 20px;
    left: -50px;
  }
  #sidegif-menu{
    display:block;
    margin-left: 150px;
    text-align: center;
  }

  #Contact h1{
    font-size: 1em;
    margin-top:10px;
    text-align: center;
  }

  #Contact ul{
    list-style-type: none;
    margin-top: -20px;
    text-align: center;
    margin-left: 1%;
    width: 82%;

  }

  #Contact li{
    font-size: .5em;
    margin-top: 20px;
  }

  #Contact p{
    font-size: .35em;
    text-align: center;
    margin-left: 2%;
  }

  #sidegif-contact{
    display:block;
    margin-left: 150px;
    text-align: center;
  }

  #Wishlist h1{
    font-size: 1em;
    margin-top:10px;
    text-align: center;
  }

  #Wishlist ul{
    list-style-type: none;
    margin-left:-10%;
    margin-top: 75px;
    text-align: center;
  }

  #Wishlist li{
    font-size: .65em;
    margin-top: 50px;
  }
  #Wishlist button{
    border:10px;
    color:#404066;
    background-color:transparent;
    text-decoration: none;
    font-size: 1em;
    font-family:HelloHeadlineW00Regular;
  }
  #sidegif-wishlist{
    display:block;
    margin-left: 150px;
    text-align: center;
  }
    #Toys h1{
      font-size: 1em;
      margin-top:10px;
      text-align: center;
    }

    #Toys ul{
      width: 80%;
      list-style-type: none;
      margin-top: -20px;
      margin-left:15px;
    }

    #Toys li{
      font-size: .6em;
      margin-top: 45px;
      text-align: center;
    }
    
    #Clothes h1{
      font-size: 1em;
      margin-top:10px;
      text-align: center;
    }

    #Clothes ul{
      width: 60%;
      list-style-type: none;
      margin-top: -20px;
      margin-left: 45px;
    }

    #Clothes li{
      font-size: .6em;
      margin-top: 20px;
      text-align: center;
    }

    #sidegif-Clothes{
      display:block;
      margin-left: 150px;
      text-align: center;
    }

    #Favorite_shows h1{
      font-size: 1em;
      margin-top:10px;
      text-align: center;
    }

    #Favorite_shows ul{
      width:85%;
      list-style-type: none;
      margin-top: -20px;
    }

    #Favorite_shows li{
      font-size: .5em;
      margin-top: 35px;
      text-align: center;
    }
*/
}

@media screen and (max-width: 393px) { /*Oneplus Nord 2, Iphone XR*/ 
 /* #gif{
    width:50%;
    height:auto;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  
  body{
    background: linear-gradient(#88CAFC, #d2ebff);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    font-size:72px;
    text-align: center;
  }
  
  .sidebar {
    margin-left:20px;
  }
  
  #playroom{
    width:320px; 
    height:130px;
  }
  
  #title{
    font-size: 1.25em;
    margin-top: -2px;
  }
  
  #sub{
    font-size: .65em;
  }*/
  
  #party_info{
    font-size: .45em;
  
  }
    #map-font{
      font-size: .75em;
    }
  
  #rsvp{
    font-size: .6em;
  }
  
  /* #Menu h1{
      font-size: 1.25em;
      margin-top:10px;
      text-align: center;
    }
  
    #Menu p{
     
      width: 95%;
      text-align: center;
      font-size: .30em;
      margin-left: 2%;
    }
  
    #Menu ul{
      list-style-type: none;
      margin-top: -20px;
      text-align: center;
      width: 85%;
    }
  
    #Menu li{
      font-size: .5em;
      margin-top: 20px;
      left: -50px;
    }
    #sidegif-menu{
      display:block;
      margin-left: 150px;
      text-align: center;
    }
  
    #Contact h1{
      font-size: 1em;
      margin-top:10px;
      text-align: center;
    }
  
    #Contact ul{
      list-style-type: none;
      margin-top: -20px;
      text-align: center;
      margin-left: 1%;
      width: 82%;
  
    }
  
    #Contact li{
      font-size: .5em;
      margin-top: 20px;
    }
  
    #Contact p{
      font-size: .35em;
      text-align: center;
      margin-left: 2%;
    }
  
    #sidegif-contact{
      display:block;
      margin-left: 150px;
      text-align: center;
    }
  
    #Wishlist h1{
      font-size: 1em;
      margin-top:10px;
      text-align: center;
    }
  
    #Wishlist ul{
      list-style-type: none;
      margin-left:-10%;
      margin-top: 75px;
      text-align: center;
    }
  
    #Wishlist li{
      font-size: .65em;
      margin-top: 50px;
    }
    #Wishlist button{
      border:10px;
      color:#404066;
      background-color:transparent;
      text-decoration: none;
      font-size: 1em;
      font-family:HelloHeadlineW00Regular;
    }
    #sidegif-wishlist{
      display:block;
      margin-left: 150px;
      text-align: center;
    }
      #Toys h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }
  
      #Toys ul{
        width: 80%;
        list-style-type: none;
        margin-top: -20px;
        margin-left:15px;
      }
  
      #Toys li{
        font-size: .6em;
        margin-top: 45px;
        text-align: center;
      }
      
      #Clothes h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }
  
      #Clothes ul{
        width: 60%;
        list-style-type: none;
        margin-top: -20px;
        margin-left: 45px;
      }
  
      #Clothes li{
        font-size: .6em;
        margin-top: 20px;
        text-align: center;
      }
  
      #sidegif-Clothes{
        display:block;
        margin-left: 150px;
        text-align: center;
      }
  
      #Favorite_shows h1{
        font-size: 1em;
        margin-top:10px;
        text-align: center;
      }
  
      #Favorite_shows ul{
        width:85%;
        list-style-type: none;
        margin-top: -20px;
      }
  
      #Favorite_shows li{
        font-size: .5em;
        margin-top: 35px;
        text-align: center;
      }
  */
  }

@media screen and (max-width: 320px) {
  /*#gif{
    width:50%;
    height:auto;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  body{
    width: 45%;
    height: 95%;
    background-size: contain;
    background-size: cover;
    background-position: 63%;
    font-size:72px;
    text-align: left;
  }
  .openbtn {
    font-size: .75em;
    background-color:transparent;
    color: #fff;
    padding: 10px 15px;
    margin-left: 350px;
  }
  
    #Menu h1{
      font-size: 1.25em;
      margin-top:10px;
      text-align: center;
    }
  
    #Menu p{
     
      width: 95%;
      text-align: center;
      font-size: .30em;
      margin-left: 5%;
    }
  
    #Menu ul{
      list-style-type: none;
      margin-top: -20px;
      text-align: center;
      width: 85%;
    }
  
    #Menu li{
      font-size: .5em;
      margin-top: 20px;
      left: -50px;
    }
  
    #Contact h1{
      font-size: 1em;
      margin-top:10px;
      text-align: center;
    }
  
    #Contact ul{
      list-style-type: none;
      margin-top: -20px;
      text-align: center;
      margin-left: 1%;
      width: 82%;
  
    }
  
    #Contact li{
      font-size: .5em;
      margin-top: 20px;
    }
  
    #Contact p{
      font-size: .35em;
      text-align: center;
      margin-left: 2%;
    }
  
  #title{
    font-size: 1.25em;
    margin-top: 10px;
    margin-left:10px;
  }
  
  #sub{
    text-align: center;
    width: 200%;
    font-size: .65em;
    margin-top: -75px;
    margin-left:-15px;
  }
  
  #party_info{
    width:200%;
    font-size: .43em;
    margin-top: -30px;
    margin-left:10px;
  
  }
    #map-font{
      font-size: .73em;
    }
  
  #rsvp{

    width: 50%;
    font-size: .5em;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 10px;
    position:absolute;
    margin-top:20px;
  }*/
}