#preloader{
  background: linear-gradient(#88CAFC, #d2ebff);
  height:100%;
  width:100%;
  position:fixed;
  top: 0;
  left: 0;
}

#gif{
  display: block;
  margin: 0 auto;

}

#loade-time{
  display: none;
}

@font-face {
  font-family: HelloHeadlineW00Regular;
  src: url("FontsFree-Net-Hello-Headline-W00-Regular.ttf")
}

body{
  background-image:url("videos/frontdoor.png");
  background-size:cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: HelloHeadlineW00Regular;
  color:#404066;
  text-align: center;
  font-size: 100px
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: linear-gradient(#88CAFC, #d2ebff);opacity:.95;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding-bottom: 100px;
  padding-left: 50px;
  text-decoration: none;
  font-size: .375em;
  text-align: left;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar button {
  border:none;
  background-color:transparent;
  padding-bottom: 50px;
  padding-left: 5px;
  text-decoration: none;
  font-size: 1em;
  font-family:HelloHeadlineW00Regular;
  text-align: left;
  color: white;
  display: block;
  transition: 0.3s;
  width: 75%;
  height:10px;
}

.sidebar button:hover{
  color: #f8b9d4; 
}

.sidebar a:hover {
  color: #f8b9d4;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  width: 10px;
  height: 0px;
}

.openbtn {
  font-size: 0.5em;
  background-color:transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-left: 1200px;
 
}

.openbtn:hover {
  color: #f8b9d4;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #88CAFC;
  opacity: 0.95;
  z-index: 2;
  cursor: pointer;
}

#Menu h1{
  border:2px solid green;
  font-size: 1em;
  margin-top:10px;
}

#Menu p{
  font-size: .35em;
}

#Menu ul{
  list-style-type: none;
  margin-top: -20px;
}

#Menu li{
  font-size: .5em;
  margin-top: 20px;
}

#title{
  font-size: 2em;
  margin-top: 1px;
}
#sub{
  font-size: 1em;
  margin-top: -175px;
}

header{
  margin-top:-65px;
}

#party_info{
  font-size: .5em;
  margin-top: 250px;
}

#rsvp{
  font-size: .5em;
  color:#404066 ;
  text-decoration: none;

}

#rsvp:hover {
  color:#f8b9d4;
}

@media screen and (max-width: 430px) { /*IPhone 12 pro max*/
  
#gif{
  width:50%;
  height:auto;
  padding-top: 50%;
  padding-bottom: 50%;
}
body{
  width: 60%;
  height: 100%;
  background-size: contain;
  background-size: cover;
  background-position: 65%;
  font-size:72px;
}
.openbtn {
  font-size: 1em;
  background-color:transparent;
  color: #fff;
  padding: 10px 15px;
  border: none;
  margin-left: 550px;
}

#title{
  border:2px solid green;
  font-size: 1.75em;
  margin-top: 10px;
  margin-left:80px;
}

#sub{
  border:2px solid green;
  width: 200%;
  font-size: .85em;
  margin-top: -100px;
  margin-left:65px;
}

#party_info{
  border:2px solid green;
  width:200%;
  font-size: .5em;
  margin-top: 200px;
  margin-left:65px;

}

#rsvp{
  width: 100%;
  font-size: .5em;
  border:2px solid green;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 105px;
  margin-top: 250px;
}
/*.vl {
  border-left: 6px solid green;
  height: 1000px;
  position: absolute;
  left: 75%;
  margin-left: -3px;
  top: 0;
}*/
}
@media screen and (max-width: 415px) { /*Oneplus Nord 2, Iphone XR*/
  
  #gif{
    width:50%;
    height:auto;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  body{
    width: 25%;
    height: 100%;
    background-size: contain;
    background-size: cover;
    background-position: 65%;
    font-size:72px;
  }
  .openbtn {
    font-size: 1em;
    background-color:transparent;
    color: #fff;
    padding: 10px 15px;
    border: none;
    margin-left: 550px;
  }
  
  #title{
    border:2px solid green;
    font-size: 1.75em;
    margin-top: 10px;
    margin-left:65px;
  }
  
  #sub{
    border:2px solid green;
    width: 200%;
    font-size: .85em;
    margin-top: -100px;
    margin-left:60px;
  }
  
  #party_info{
    border:2px solid green;
    width:200%;
    font-size: .5em;
    margin-top: 200px;
    margin-left:60px;
  
  }
  
  #rsvp{
    width: 100%;
    font-size: .5em;
    border:2px solid green;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 90px;
    margin-top: 250px;
  }
  .vl {
    border-left: 6px solid green;
    height: 1000px;
    position: absolute;
    left: 75%;
    margin-left: -3px;
    top: 0;
  }
  }

@media screen and (max-width: 375px) {
  #gif{
    width:50%;
    height:auto;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  body{
    background-size: cover;
    font-size:72px;
  }
  .openbtn {
    font-size: 1em;
    background-color:transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 550px;
  }

  #title{
    font-size: 1.75em;
    margin-top: 10px;
    margin-left:90px;
  }

  #sub{
    width:100%;
    font-size: .85em;
    margin-top: -100px;
    margin-left:125px;
  }
  #party_info{
    width:100%;
    font-size: .5em;
    margin-top: 300px;
    margin-left:125px;
    color:#404066;
  }
  #rsvp{
    width: 100%;
    font-size: .5em;
    color: #404066;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 115px;
    margin-top:150px;
  }
  }
  @media screen and (max-width: 320px) {
  #gif{
    width:50%;
    height:auto;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  body{
    background-image:url("videos/livingroom.png");
    background-size: cover;
    font-size:72px;
  }
  .openbtn {
    font-size: 1em;
    background-color:transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 550px;
  }

  #title{
    font-size: 1.75em;
    margin-top: 10px;
    margin-left:90px;
  }

  #sub{
    width:100%;
    font-size: .85em;
    margin-top: -100px;
    margin-left:125px;
  }
  #party_info{
    width:100%;
    font-size: .5em;
    margin-top: 175px;
    margin-left:125px;
    color:#404066;
  }
  #rsvp{
    width: 100%;
    font-size: .5em;
    color: #404066;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 117px;
    margin-top:150px;
  }
}